* {
  margin: 1rem;
  padding: 0%;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input {
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  display: block;
  margin: 1rem;
}